@font-face{
    font-family: 'Gilroy-Bold';
    src: url('/app/fonts/Gilroy-Bold/style.css');


}
@font-face{
    font-family: 'Gilroy-Medium';
    src: url('/app/fonts/Gilroy-Medium/style.css');


}
@font-face{
    font-family: 'PermianSerif';
    src: url('/app/fonts/permian-serif/PermianSerifTypeface-Bold.otf');
}
@font-face{
    font-family: 'Gilroy-Regular';
    src: url('/app/fonts/Gilroy-Regular/style.css');
}
