.katalog {
  &-title {
    margin-bottom: 30px;
    margin-top: 20px;
  }
}

.katalog__box {
  margin-bottom: 200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &-card {
    display: block;
    background-image: url("/site-meb/image/katalog1.png");
    background-size: cover;
    width: 390px;
    height: 300px;
    margin-bottom: 20px;
  }
  &-card:nth-child(2) {
    background-image: url("/site-meb/image/katalog2.png");
    background-size: cover;
    width: 390px;
  }
  &-card:nth-child(3) {
    background-image: url("/site-meb/image/katalog3.png");
    background-size: cover;
    width: 390px;
  }
  &-card:nth-child(4) {
    background-image: url("/site-meb/image/katalog4.png");
    background-size: cover;
    width: 590px;

  }
  &-card:nth-child(5) {
    background-image: url("/site-meb/image/katalog5.png");
    background-size: cover;
    width:590px;
  }
  &-text {
    padding: 40px 0 0 32px;
    font-weight: 700;
    font-size: 25px;
    line-height: 100%;
    color: #ffffff;
    margin-bottom: 174px;
  }
  &-img {
    padding-left: 20px;
    padding-bottom: 20px;
  }
}
