.header__burger {
  display: none;
}
.header {
  height: 100px;
}

@media (max-width: 1350px) {
  .info__box {
    grid-template-columns: repeat(1, 1fr);
    text-align-last: left;
  }
  .info__card-title {
    text-align: start;
    display: block;
  }
}
@media (max-width: 1254px) {
  .helping__box {
    flex-wrap: wrap;
    justify-content: center;
    &-img {
      display: none;
    }
  }
}
@media (max-width: 1300px) {
  .header__menu {
    &-mail {
      display: none;
      padding-right: 0px;
    }
    &-numb {
      display: none;
    }
  }
}
@media (max-width: 990px) {
  .goods__nav-menu {
    justify-content: center;
    flex-wrap: wrap;
  }
  .goods__nav-list {
    margin-bottom: 10;
  }
  .goods__menu {
    justify-content: center;
  }
  .about {
    &-top-img {
      max-width: 600px;
    }
  }
}

@media (max-width: 833px) {
  .stait__card-box {
    justify-content: center;
  }
  .footer__box {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .box__links {
    margin-bottom: 20px;
    &-social {
      position: static;
    }
  }
}

@media (max-width: 768px) {
  .header__menu {
    justify-content: flex-start;
    &-logo {
      padding-right: 50px;
    }
    &-nav {
      display: none;
    }
  }
  .header__burger {
    width: 30px;
    height: 10px;
    display: block;
    position: relative;
    left: 638px;
    top: -81px;
    margin-bottom: 10px;
  }
  .header__burger::before,
  .header__burger::after {
    content: "";
    background: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    bottom: 0px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    top: 0px;
  }
  .header__burger::before {
    top: 0px;
  }
  .header__burger::after {
    bottom: 0px;
  }
  .header__menu-nav {
    font-size: 24px;
    padding: 0;
    width: 100%;
  }
  .header__menu-nav.active {
    position: absolute;
    top: 100px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(/site-mebel/image/media.png);
    z-index: 1;
  }
  .header__menu-list {
    margin-bottom: 20px;
  }
  .header__menu-btn {
    display: block;
    position: relative;
    left: 110px;
  }
  .info__card {
    &-img {
      max-width: 500px;
    }
  }
  .stait__box {
    &-all {
      padding: 18px 110px;
    }
    &-title {
      font-size: 40px;
    }
  }
}
@media (max-width: 692px) {
  .header__burger {
    left: 500px;
  }
  .header__menu-btn {
    left: 62px;
  }
  .helping-btn {
    padding: 12px 60px;
  }
  .helping__second {
    &-title {
      font-size: 52px;
    }
    &-input {
      flex-wrap: wrap;
    }
  }
  .hepling-input {
    margin-bottom: 20px;
  }
  .stait__box-top {
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 20px;
  }
  .about {
    &-top-img {
      max-width: 500px;
    }
  }
}
@media (max-width: 552px) {
  .header__burger {
    left: 460px;
  }
  .header__menu-btn {
    left: 32px;
  }
}
@media (max-width: 520px) {
  .info__card {
    &-img {
      max-width: 400px;
    }
  }
  .center__box-wrapper {
    padding-top: 90px;
  }
  .header__burger {
    left: 360px;
  }
  .header__menu-btn {
    left: 12px;
  }
  .header__menu-btn {
    padding: 10px 20px;
  }
  .goods__door {
    max-width: 300px;
  }
  .about {
    &-top-img {
      max-width: 400px;
    }
  }
}

@media (max-width: 420px) {
  .header__burger {
    left: 330px;
  }
  .header__menu-btn {
    left: -12px;
  }
  .info__card {
    &-img {
      max-width: 300px;
    }
  }
  .stait__card {
    max-width: 290px;
  }
  .about {
    &-top-img {
      max-width: 300px;
    }
  }
}
@media (max-width: 420px) {
  .header__burger {
    left: 270px;
  }
  .header__menu-btn {
    left: -20px;
  }
  .info__card {
    &-img {
      max-width: 300px;
    }
  }
  .center__box {
    &-wrapper {
      padding-bottom: 70px;
    }
    &-title {
      font-size: 32px;
    }
  }
}
